<!-- Services section -->
<div class="mx-auto overflow-hidden mt-5 w-full">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-5 md:gap-y-12 gap-x-4 items-center ">
        <div class="space-y-3">
            <div class="flex justify-center">
                <img class="w-48 h-48 rounded" src="/images/catering.jpg" alt="Catering">
            </div>
            <div class="text-center ">
                <h3 class="text-xl font-bold">Catering</h3>
                <p>World class cuisine delivered to your doorstep.</p>
            </div>
        </div>

        <div class="space-y-3">
            <div class="flex justify-center">
                <img class="w-48 h-48 rounded" src="/images/events.jpg" alt="Conferences">
            </div>
            <div class="text-center ">
                <h3 class="text-xl font-bold"> Events</h3>
                <p>We pride ourselves on the top-notch event management services and take all the hassle of managing your event.</p>
            </div>
        </div>

        <div class="space-y-3">
            <div class="flex justify-center">
                <img class="w-48 h-48 rounded" src="/images/travel.jpg" alt="Travel">
            </div>
            <div class="text-center ">
                <h3 class="text-xl font-bold">Travel Management</h3>
                <p>Book amazing packages for travel across the globe with honeymoon, getaways, or just a family fun trip to theme parks!</p>
            </div>
        </div>

        <div class="space-y-3">
            <div class="flex justify-center">
                <img class="w-48 h-48 rounded" src="/images/hospitality.jpg" alt="hospitality">
            </div>
            <div class="text-center ">
                <h3 class="text-xl font-bold">Hospitality</h3>
                <p>We organize staff for hospitality and amazing dining experiences</p>
            </div>
        </div>
    </div>
</div>
